.BrushConfig__select {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
    font-size: 16px;
    cursor: pointer;
    width: 150px;
}

.BrushConfig__option {
    font-size: 16px;
}

.BrushConfig__input {
    width: 150px;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
}
@media (max-width: 1280px) {
    .BrushConfig__form {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        max-width: 200px;
        gap:5px;
        margin-bottom: 10px;
    }
}

@media (max-width: 768px) {
    .BrushConfig__form {
        display: flex;
        flex-direction: row;
    }
}